* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto mono';
}

body {
    background-color: #1c1b1b;
}

section {
    height: 100vh;
    color: #faffeb;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.jobTitle {
    font-size: 20px;
    font-family: 'Silkscreen';
}

.header {
    font-weight: bold;
    font-size: 50px;
}

.navbar {
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #faffeb;
}

.homeLink {
    font-family: 'Silkscreen';
    font-size: 15px;
    padding-top: 20px;
}